<!DOCTYPE html>
<html>
  
  <head>
    <title>IP Locator</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  
  <body>
    
    <header>
      <h1>IP Locator</h1>
    </header>

    <nav>
      <form id="ip-form" hx-get="/search_ip" hx-target="#ip-info-container" hx-swap="innerHTML">
        <input type="text" name="ip" id="ip-input" placeholder="Search an IP address" required>
        <button type="submit">Search</button>
      </form>
    </nav>

    <main>
      
      <div class="container" id="ip-info-container">
	<p>Public IP: <span id="ip">{{ ip_info.ip }}</span></p>
	<p>Location: <span id="location">{{ ip_info.city }}, {{ ip_info.region }}, {{ ip_info.country }}</span></p>
	<p>Hostname: <span id="hostname">{{ ip_info.hostname }}</span></p>
	<p>GPS: <span id="gps">{{ ip_info.loc }}</span></p>
	<p>ISP: <span id="org">{{ ip_info.org }}</span></p>
	<p>Postal Code: <span id="postal">{{ ip_info.postal }}</span></p>
	<p>Time Zone: <span id="timezone">{{ ip_info.timezone }}</span></p>
      </div>
      
    </main>

    <footer>
      <a href="https://ipinfo.io/">Powered by IPinfo</a>
    </footer>
    
  </body>
</html>
